<footer class="footer">
  <div class="container">
    <div class="row">
        <div class="col-sm-4">
          <p>Produtos</p>
        </div>
        <div class="col-sm-4">
          <p>Marcas</p>
        </div>
        <div class="col-sm-4">
          <p>Contactos</p>
        </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
        <div class="col-sm-4">
          <p>Newsletter</p></div>
        <div class="col-sm-4">
          <p>Segue-nos</p>
        </div>

        <div class="col-sm-4">
          <p>Lingua</p>
        </div>        
    </div>
  </div>
</footer>

<!--
  <div class="container">
    <div class="row">
        <div class"col-sm-6">
          <p>Produtos</p>
        </div>
        <div class"col-sm-6">
          <p>Marcas</p>
        </div>
        <div class"col-sm-6">
          <p>Contactos</p>
        </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
        <div class"col-sm-6">
          <p>Newsletter</p></div>
        <div class"col-sm-6">
          <p>Segue-nos</p>
        </div>

        <div class"col-sm-6">
          <p>Lingua</p>
        </div>        
    </div>
  </div>
-->