<div class="categoryEdit container-fluid justify-content-center">
    <form #categoryForm="ngForm" (ngSubmit)="save(categoryForm.value)">
      <p class="h2 text-center mb-4">Editar Categoria</p>
  
      <div class="md-form">
        <input type="hidden" name="url" [(ngModel)]="category.url">
        <input type="hidden" name="id" [(ngModel)]="category.id">
  
        <input type="text"  id="category-name" class="form-control" mdbInputDirective
          [(ngModel)]="category.name" required name="name"
          #description
        >
        <label  for="category-name">Nome</label>
      </div>
  
  
      <div class="actions">
        <button class="btn btn-primary" color="primary" type="submit" [disabled]="!categoryForm.form.valid">
          Save
        </button>
       
        <a class="btn btn-danger" routerLink="/categories">Cancel</a>
      </div>
      
    </form>
  </div>

  <!-- Old Form
<mat-card>
  <form #categoryForm="ngForm" (ngSubmit)="save(categoryForm.value)">
    <mat-card-header>
      <mat-card-title><h2>Update Category</h2></mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <input 
        type="hidden" 
        name="url" 
        [(ngModel)]="category.url"
      >
      <input 
        type="hidden" 
        name="id" 
        [(ngModel)]="category.id"
      >
      <mat-form-field>
        <input 
          matInput placeholder="category Name" 
          [(ngModel)]="category.name"
          required name="name"
          #name
        >
      </mat-form-field>
    </mat-card-content>


    <mat-card-actions>
      <button 
        mat-raised-button color="primary" type="submit"
        [disabled]="!categoryForm.form.valid">Update
    </button>

      <a mat-button routerLink="/categories">Cancel</a>
    </mat-card-actions>
  </form>
</mat-card>

-->