<div class="container-fluid justify-content-center" style="padding-top:80px;">
  <header>
    <title><h2>{{category.name}} Category details</h2></title>
  </header>
  <div class="content">
    <ul>
      <li>
        {{category.name}}
      </li>
      <li>
          {{category.id}}
        </li>
      <li>
        {{category.date_created}}
      </li>
    </ul>
  </div>
  <div class="actions">
    <button type="button" class="btn btn-primary" [routerLink]="['/categories/update', category.id]">Update</button>
    <button type="button" class="btn btn-danger" [routerLink]="['/categories/remove', category.id]">Remove</button>
    <button type="button" class="btn btn-danger" routerLink="/categories">Cancel</button>
  </div>
</div>"