<div class="container-fluid justify-content" style="margin:20px 0px ;">
  <button [routerLink]="['/product/add']"  routerLinkActive="active">Adicionar</button>
</div>
<div class="container-fluid products-container">
<div class="row justify-content-between">
  <div *ngFor="let showcaseProduct of showcaseProducts">
    <div class="card product-card" >
      <a [routerLink]="['/product/detail', showcaseProduct.id]">
        <!--Card image-->
        <img [src]="" alt="Card image cap" >
        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title">{{showcaseProduct.name}}</h4>
            <!--Text-->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a [routerLink]="['/product/details', showcaseProduct.id]" class="btn btn-primary waves-light" mdbWavesEffect>Button</a>
            
        </div>
      </a>
    </div>
  </div>
</div>
</div>
