<!-- USER LOGIN -->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <ul>
    <li>
      <label>Username</label>
      <input [(ngModel)]="register.username" placeholder="username">
    </li>
    <li>
      <label>Password</label>
      <input [(ngModel)]="register.password" placeholder="password" type="password">
    </li>
    <li>
      <label>Email</label>
      <input [(ngModel)]="register.email" placeholder="email">
    </li>
    <li>
        <button (click)="registerUser()">Register User</button>
    </li>
  </ul>
</div>