.col-sm-6{
    margin: 40px 0px;
    border: black solid 1px;
    max-width: 100%;
}

.products-container {
    padding: 0px 100px;
}

.product-card {
    max-width: 300px;
}

.product-for {
    padding: 40px 0px;
}