<div class="container-fluid justify-content" style="margin:20px 0px ;">
    <button [routerLink]="['/product/add']"  routerLinkActive="active">Adicionar</button>
</div>
<div class="container-fluid products-container">
  <div class="row justify-content-between">
    <div *ngFor="let product of products" class="product-for">
      <div class="card product-card" >
        <a [routerLink]="['/product/detail', product.id]">
          <!--Card image-->
          <img [src]="images[0]" alt="Card image cap" >
          <!--Card content-->
          <div class="card-body">
              <!--Title-->
              <h4 class="card-title">{{product.name}}</h4>
              <!--Text-->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a [routerLink]="['/product/details', product.id]" class="btn btn-primary waves-light" mdbWavesEffect>Editar</a>
              
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
