<!-- USER LOGIN -->
<div class="container-fluid justify-content-center user-ui" >
  <h1>
    Welcome to {{ title }}!
  </h1>

  <div class="container-fluid justify-content-center">
   
      <div>
        <label>Username</label>
        <input [(ngModel)]="input.username" placeholder="username">
      </div>
      <div>
        <label>Password</label>
        <input [(ngModel)]="input.password" placeholder="password" type="password">
      </div>
      
      <div>
          <button (click)="loginUser()">Login User</button>
      </div>
   
  </div>
</div>