<!-- USER LOGIN -->

<!--
<div class="container-fluid justify-content-center user-ui" >


  <div class="container-fluid justify-content-center">
   
      <div>
        <label>Username</label>
        <input [(ngModel)]="input.username" placeholder="username">
      </div>
      <div>
        <label>Password</label>
        <input [(ngModel)]="input.password" placeholder="password" type="password">
      </div>
      
      <div>
          <button (click)="loginUser()">Login User</button>
      </div>
   
  </div>
</div>

<!-- Login form -->

<div class="card">

  <div class="user-ui justify-content-center">
    <h1>
        Welcome to {{ title }}!
    </h1>
    <form [formGroup]="loginForm">
      <p class="h5 text-center mb-4">Sign in</p>

      <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="text" formControlName="username" id="defaultForm-email" class="form-control" mdbInputDirective>
        <label for="defaultForm-email">Your email</label>
      </div>

      <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="password" formControlName="password" id="defaultForm-pass" class="form-control" mdbInputDirective>
        <label for="defaultForm-pass">Your password</label>
      </div>

      <div class="text-center">
        <input type="submit" (click)="loginUser()" class="btn btn-default waves-light" mdbWavesEffect value="Login">
      </div>
    </form>
</div>
</div>

<!-- Login form -->