<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark grey scrolling-navbar ie-nav" [containerInside]="false">
  <logo>
    <a class="logo navbar-brand" href="#">
      <strong>Navbar</strong>
    </a>
  </logo>
  <links>
      <ul class="navbar-nav mr-auto">
          <div class="btn-group" dropdown>
              <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle waves-light" mdbWavesEffect>
                  Estatisticas
              </button>
          
              <div class="dropdown-menu dropdown-primary">
                  <a class="dropdown-item" routerLink="/statistics" >Estatisticas</a>
                  <div class="divider dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <a class="dropdown-item" href="#">Separated link</a>
              </div>
          </div>  
          <div class="btn-group" dropdown>
              <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle waves-light" mdbWavesEffect>
                  Produtos
              </button>
          
              <div class="dropdown-menu dropdown-primary">
                  <a class="dropdown-item" routerLink="/products" >Produtos</a>
                  <div class="divider dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <a class="dropdown-item" href="#">Separated link</a>
              </div>
          </div>  
          <div class="btn-group" dropdown>
              <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle waves-light" mdbWavesEffect>
                  Categorias
              </button>
          
              <div class="dropdown-menu dropdown-primary">
                  <a class="dropdown-item" routerLink="/categories" >Categorias</a>
                  <div class="divider dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <a class="dropdown-item" href="#">Separated link</a>
              </div>
          </div>  
         
          <div class="btn-group" dropdown>
              <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle waves-light" mdbWavesEffect>
                  Encomendas
              </button>
          
              <div class="dropdown-menu dropdown-primary">
                  <a class="dropdown-item" routerLink="/orders" >Encomendas</a>
                  <div class="divider dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <a class="dropdown-item" href="#">Separated link</a>
              </div>
          </div>  
          <div class="btn-group" dropdown>
              <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle waves-light" mdbWavesEffect>
                  Pagamentos
              </button>
          
              <div class="dropdown-menu dropdown-primary">
                  <a class="dropdown-item" routerLink="/payments" >Pagamentos</a>
                  <div class="divider dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <a class="dropdown-item" href="#">Separated link</a>
              </div>
          </div>  
          <div class="btn-group" dropdown>
              <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle waves-light" mdbWavesEffect>
                  Trackings
              </button>
          
              <div class="dropdown-menu dropdown-primary">
                  <a class="dropdown-item" routerLink="/tracking" >Trackings</a>
                  <div class="divider dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <a class="dropdown-item" href="#">Separated link</a>
              </div>
          </div>  
          <div class="btn-group">
              <button type="button" class="btn btn-primary waves-light" mdbWavesEffect>
                  <a class="nav-link" routerLink="/" routerLinkActive="active" >Loja</a>
              </button>
          </div>  
      </ul>
  </links>
</mdb-navbar>
